body {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif
}

.nostalgia {
    width: 100%;
}

.wrapper { 
    width: 944px;
    margin: auto;
}

h1 { color: #1e2426; }

.video-wrapper { 
    width: 100%;
    float: left;
}

select {
    font: 18px Arial;
    margin: 25px 0;
}

iframe { 
    display: none;
    box-shadow: 5px 5px 15px #DDD;
}

.show { display: block!important; }
.hide { display: none; }
.left { float: left; }
.right { float: right; }
