@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#666;
  font-weight:300;
}

a {
  color: #33CC83;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.nostalgia {
    width: 100%;
    float: left;
    height: 700px;
}

.wrapper { 
    width: 944px;
    margin: auto;
}

h1 { color: #1e2426; }

.video-wrapper { 
    width: 100%;
    float: left;
}

select {
    font: 18px Arial;
    margin: 30px 0;
}

iframe { 
    display: none;
    box-shadow: 5px 5px 15px #DDD;
}

.show { display: block!important; }
.hide { display: none; }
.left { float: left; }
.right { float: right; }

